

.clearnace-schedule{
    background-color: rgb(187, 209, 162);
    padding: 20px 20px;

    button {
        cursor: pointer;
        &:hover{
            background-color: rgb(46, 172, 46);
        }
        width: 100px;
        border-style: none;
        height: 30px;
        color: white;
        font-weight: bold;
        border-radius: 2.5px;
        margin-top: 10px;
        background-color: rgba(58, 197, 58, 0.938);
    }
}
