

.display-feed{
    background-color: white;
    padding: 2rem 3rem;
    // justify-content: space-between;
}

.bio {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    // outline: 2px red dashed;
    margin-bottom: 30px;
}

.user-display {
    img {
        width: 100px;
        height: 100px;
        border-radius: 5px;
        background-color: red;
    }
}

.bio-data{
    display: flex;
    flex-wrap: wrap;
    // outline: 2px darkblue dashed;
    // justify-content: space-between;
    // max-width: 90%;
    // grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    .datafield-btns {
        // outline: 2px red dashed;
        button {
            cursor: pointer;
            &:hover{
                background-color: rgb(46, 172, 46);
            }
            width: 130px;
            border-style: none;
            height: 30px;
            color: white;
            font-weight: bold;
            border-radius: 2.5px;
            background-color: rgba(58, 197, 58, 0.938);
        }
    }
}
.datafield{
    padding: 10px 20px;
    width: 270px;
    background-color: rgba(153, 152, 152, 0.808);
    border-radius: 3.5px;
    display: flex;
    gap: 20px;
}

.bottom-section{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 30px 0;

    .blog-posts{
        background-color: rgb(32, 32, 32);
        color: whitesmoke;
        padding: 15px 20px;
        height: 150px;
        width: 450px;
        .blog-title{
            font-weight: bold;
            margin-bottom: 10px;
        }
        .posts {
            font-size: small;
            cursor: pointer;
            letter-spacing: 2.5px;
            padding: 13px 0;
            border-bottom: 0.4px solid grey;
        }
    }
    
}

.reach-us{

    height: 150px;
    width: 250px;
    padding: 15px 10px;
    border: 0.4px solid grey;

    .ru-title{
        font-weight: bold;
        font-size: medium;
        margin-bottom: 10px;
    }
    input {
        width: 90%;
        height: 90px;
        border-style: none;
        background-color: rgb(231, 234, 238);
        margin-bottom: 5px;
        padding: 0 10px;
    }
    .send {
        cursor: pointer;
        &:hover{
            background-color: rgb(46, 172, 46);
        }
        width: 130px;
        border-style: none;
        height: 30px;
        color: white;
        font-weight: bold;
        border-radius: 2.5px;
        background-color: rgba(58, 197, 58, 0.938);
    }
}



//  DISPLAY FEEED FOR COURSE CORRECTION
//  DISPLAY FEEED FOR COURSE CORRECTION
//  DISPLAY FEEED FOR COURSE CORRECTION

.CC-display-feed {
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
}

.coursereq {
    background-color: rgba(103, 209, 76, 0.5);
    width: 500px;
    padding: 7px 10px;
    font-weight: bold;
    color: rgb(5, 53, 5);
    border-radius: 5px;
    margin: 0 auto;
}

.details {
    // padding-left: 40px;
    display: flex;
    max-width: 90%;
    flex-wrap: wrap;
    // outline: 2px red dashed;
    margin: 0 auto;

    .detailfield {
        padding: 10px 20px;
        width: 230px;
        background-color: rgba(209, 203, 203, 0.808);
        border-radius: 3.5px;
        display: flex;
        gap: 15px;
        margin: 15px;

        .f-title {
            color: rgb(39, 39, 39);
        }
        .f-data {
            font-weight: bold;
            color: rgb(56, 54, 54);
            font-size: 13px;
        }
    }
}

.update-details {
    margin-top: 30px;

    .update-entry{
        margin-top: 15px;
        .u-title{
            color: rgb(53, 52, 52);
            margin-bottom: 5px;
        }
    }
    input {
        width: 80%;
        padding: 3px 15px;
        // border-radius: 5px;
        &::placeholder {
            font-size: small;
        }
        
    }

    
}

.save-details {
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    &:hover{
        background-color: rgb(46, 172, 46);
    }
    width: 130px;
    border-style: none;
    height: 30px;
    color: white;
    font-weight: bold;
    border-radius: 2.5px;
    background-color: rgba(58, 197, 58, 0.938);
}



//  DISPLAY FEED FOR LGA CLEARANCE
//  DISPLAY FEED FOR LGA CLEARANCE
//  DISPLAY FEED FOR LGA CLEARANCE
//  DISPLAY FEED FOR LGA CLEARANCE

.lgac-display-feed{
    padding: 0 20px;
    width: 90%;
    // outline: 2px dashed blue;
}

.Monthly-clearance{
    background-color: rgba(103, 209, 76, 0.5);
    width: 500px;
    padding: 7px 10px;
    font-weight: bold;
    color: rgb(5, 53, 5);
    border-radius: 5px;
    margin: 0 auto;
}

.clearance-entries{
    display: flex;
    gap: 20px;
    line-height: 30px;
    border: 1px solid grey;
    
    padding: 20px;

    width: 80%;
    margin: 40px auto;
    justify-content: space-between;
    // outline: 2px dashed red;

    .ce-title{
        text-decoration: underline;
        font-weight: bold;
    }

    .sn-count, .m-count, .status {
        font-size: small;
    }
}


//  DISPLAY FEED FOR DISCIPLINARY CASE
//  DISPLAY FEED FOR DISCIPLINARY CASE
//  DISPLAY FEED FOR DISCIPLINARY CASE
//  DISPLAY FEED FOR DISCIPLINARY CASE

.Disciplinary-case-display-feed{
    padding: 40px;
    width: 90%;
    // outline: 1px dashed red;
}

.DisciplinaryCase{
    background-color: rgba(103, 209, 76, 0.5);
    width: 100%;
    padding: 7px 10px;
    font-weight: bold;
    color: rgb(5, 53, 5);
    border-radius: 5px;
    margin: 0 auto;
}

.personaldetails{
    font-size: small;
    padding-bottom: 3px;
    border-bottom: 0.5px solid grey;
    margin-top: 10px;
}

.p-details{
    margin: 20px 0;
    padding: 20px;
    font-size: small;
    line-height: 40px;
    border: 0.5px solid grey;
}

.case-appeal{
    margin-bottom: 20px;
    font-size: small;
    padding-left: 20px;
}

.case-history{
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 0.5px solid grey;
}

.case-record {
    font-size: smaller;
    margin: 10px 0;
}

.appeal-query {
    font-size: small;
    margin-bottom: 5px;
    padding-left: 10px;
}

.appeal-msg-history{
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 0.5px solid grey;
}