

header {
    ul {
        display: flex;
    gap: 60px;
    // background-color: rgb(126, 60, 192);
    justify-content: end;
    font-weight: bold;
    padding-right: 55px;
    padding-top: 30px;
    }
}